{% assign plang = page.lang | default: site.langs[0] | default: "en" %}
<div class="colored-block">
  {% assign cta = site.data.academic_i18n.cta %}
  {% if page.layout == "home" or page.layout == "archive" %}
    {{ cta.like[plang] | escape }}
  {% else if page.layout == "post" %}
    {{ cta.post[plang] | escape }}
  {% else %}
  {% endif %}

  {% if site.rss_enabled %}
    {{ cta.rss[plang][0] }}
    <a href="/feed.xml">{{ cta.rss[plang][1] }}</a>
    {{ cat.rss[plang][2]}}
  {% endif %}


  {% if site.bluesky_username %}
    {{ cta.bluesky[plang][0] }}
    <a href="https://bsky.app/profile/{{ site.bluesky_username }}">@{{ site.bluesky_username }}</a>
    {{ cta.bluesky[plang][1] }}.
  {% endif %}
</div>
